body {
    background-color: gainsboro;
    font-family: 'Merriweather', serif;
    scroll-behavior: smooth;
    top: 0;
    padding: 0;
    margin: 0;
}

.logotitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    transition: 0.3s;
}

.logotitle:hover,
.logotitle:active {
    color: darkblue;
}

.navbar {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    position: sticky;
    font-size: 1.1em;
    width: 100%;
    height: 38px;
    border-bottom: 1px solid black;
}

.navlinks {
    color: black;
    text-decoration: none;
    margin: 12px;
}

.navlinks:hover,
.navlinks:active {
    color: darkblue;
}

.newsBlock-Title {
    font-size: 1.3em;
    color: black;
    margin-left: 140px;
    margin-top: 25px;
}

.News {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
}

.News-Item {
    border: 1px solid black;
    border-radius: 12px;
    width: 200px;
    height: 350px;
    padding: 9px;
    margin: 12px;
}

.News-Item-Img {
    position: sticky;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.News-Item-Title {
    font-size: 1em;
    color: black;
}

.date {
    font-size: 0.7em;
}

.News-Item-Description {
    color: black;
    font-size: 0.8em;
}

.footerTitle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}

.footerTitle:hover,
.footerTitle:active {
    color: darkblue;
}